# Example env file for receiver.  Copy to .env before using.
# DO NOT COMMIT THE .env FILE TO SOURCE CONTROL!
DEBUG_MODE=1
MQTT_PROTOCOL=mqtts
MQTT_HOST=YOUR_MQTT_BROKER_HOST_HERE
MQTT_PORT=YOUR_MQTT_BROKER_PORT_HERE
MQTT_USER=YOUR_MQTT_BROKER_USER_NAME_HERE
MQTT_PASSWORD=YOUR_MQTT_BROKER_PASSWORD_HERE
MQTT_CHANNEL=flightalerts