# Example env file for receiver.  Copy to .env before using.
# DO NOT COMMIT THE .env FILE TO SOURCE CONTROL!
CRATEDB_USER=planespotter
CRATEDB_PASSWORD=iseeu123
CRATEDB_HOST=127.0.0.1
CRATEDB_PORT=5432
CRATEDB_SCHEMA=planespotting
CRATEDB_SSLMODE=1
USER_LATITUDE=52.94765937629119
USER_LONGITUDE=-1.1436530095627766
DEBUG_MODE=1
FLIGHTAWARE_API_KEY=YOUR_KEY_HERE
SLEEP_INTERVAL=60