# Example env file for receiver.  Copy to .env before using.
# DO NOT COMMIT THE .env FILE TO SOURCE CONTROL!
SBS_HOST=127.0.0.1
SBS_PORT=30003
CRATEDB_USER=planespotter
CRATEDB_PASSWORD=iseeu123
CRATEDB_HOST=127.0.0.1
CRATEDB_PORT=5432
CRATEDB_SCHEMA=planespotting
DEBUG_MODE=1